{
	auto_https off
}

:80 {
	reverse_proxy /* frontend:3000 {
		transport http {
			versions h1h2
		}
	}

	reverse_proxy /api/* backend:8000
}

:443 {
	reverse_proxy /* frontend:3000 {
		transport http {
			versions h1h2
		}
	}

	reverse_proxy /api/* backend:8000

	tls /etc/certs/cert.pem /etc/certs/key.pem
}

:3000 {
	reverse_proxy /* frontend:3000 {
		transport http {
			versions h1h2
		}
	}

	tls /etc/certs/cert.pem /etc/certs/key.pem
}
