:3000 {
	handle /api/* {
		reverse_proxy backend:8000
	}

	# Für alle anderen Anfragen prüfe, ob die Datei existiert oder leite auf /index.html um
	handle {
		root * /app/public
		try_files {path} /index.html
		file_server
	}
}
