:3000 {
	handle /api/* {
		reverse_proxy backend:8000 {
			header_up X-Forwarded-For {http.request.header.X-Forwarded-For}
			header_up X-Real-IP {http.request.header.X-Real-IP}

			trusted_proxies 127.0.0.0/8
		}	
	}

	# Für alle anderen Anfragen prüfe, ob die Datei existiert oder leite auf /index.html um
	handle {
		root * /app/public
		try_files {path} /index.html
		file_server
	}
}
